<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lets Cook</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="hero is-small is-primary is-bold">
        <div class="hero-body">
            <h1 class="title">Lets Cook!</h1>
            <div class="columns is-gapless">
                <div class="column is-1">
                    <a href="/">
                        Home
                    </a>
                </div>
                <div class="column is-2">
                    <a>
                        Dashboard
                    </a>
                </div>
                <div class="column is-1">
                    <a href="/login">
                        Login
                    </a>
                </div>
                <div class="column is-1">
                    <button id="logout">
                        logout
                    </button>
                </div>
                <div class="column is-1">
                    <a>
                        Recipes
                    </a>
                </div>
                <div class="column is-1">
                    <a>
                        Recipes
                    </a>
                </div>
                <div class="column is-1">
                    <a class="">
                        Recipes
                    </a>
                </div>
            </div>
        </div>
    </header>

    {{{body}}}

    </section>
    <footer class="footer">
        <div class="content has-text-centered">
            <h5>Copyright © Lets Cook!</h5>
        </div>
        <div class="columns">
            <div class="column">
                <h4 class="footer-logo has-text-weight-medium has-text-left">
                    Lets Cook Logo Here!
                </h4>
                <p class="footer-description has-text-left">
                    <!-- Lets Cook is a website for foodies who
                     want to find new recipes to make! -->
                </p>
            </div>
            <div class="column">
                <h4 class="footer-explore has-text-weight-semibold has-text-justify">
                    Explore
                </h4>
                <p class="footer-explorelinks">
                    <a href="https://">
                        <span class="icon-text">
                            <span>Recipes</span>
                        </span>
                    </a>
                    <br />
                    <a href="https://">
                        <span class="icon-text">
                            <span>Home</span>
                        </span>
                    </a>
                    <br />
                    <a href="https://">
                        <span class="icon-text">
                            <span>Dashboard</span>
                        </span>
                    </a>
                </p>
            </div>
            <div class="column">
                <h4 class="footer-contactus has-text-weight-semibold has-text-justify">
                    Contact Us!
                </h4>
                <p class="footer-contact-links">
                    <a href="https://">
                        <span class="icon-text">
                            <span>Email</span>
                        </span>
                    </a>
                    <br />
                    <a href="https://">
                        <span class="icon-text">
                            <span>Chat with us!</span>
                        </span>
                    </a>
                </p>
            </div>
        </div>
    </footer>
    <script src="/js/logout.js"></script>
</body>

</html>