<div class="dash-title">
<h1 class="title is-3 dash-heading">Welcome, {{userData.username}}</h1>
</div>

<div class="columns" id="dashboard-body">
    <div id="favourites" class="column dash-card">
        <p class="title is-4">Your Favourites</p>
        <div class="dash-cards">
        {{#each userData.favourites as |favourites|}}
        {{> favourites-details}}
        {{/each}}
        </div>
    </div>
    <div id="user-recipes" class="column dash-card">
        <p class="title is-4">Your Created Recipes</p>
        <div class="dash-cards">
        {{#each userData.recipes as |recipes|}}
        {{> userRecipes-details}}
        {{/each}}
        </div>
    </div>
</div>

<script src="/js/dashboard.js"></script>