    <header class="recipe-header is-size-2 is-italic has-text-centered">
        <h2>Recipes</h2>
    </header>

    <div class="columns" id="all-recipes">
        {{#each recipes as |recipe|}}
         {{> recipe-details}}
         {{/each}}
    </div>

    <script src="/js/favourites.js"></script>