<section class="section">
  <div class="container">
    <h1 class="title">Login</h1>
    <h2 class="subtitle py-2">Please login to continue.</h2>
  </div>
  <div class="card py-5 px-4 ">

    <div class="form-card-header">
      <div class="form-input">
        <form class="login-form">
          <label for="username-login">Username:</label>
          <input class="input" type="text" id="username-login" />
          <label for="password-login">Password:</label>
          <input class="input" type="text" id="password-login" />

          <button class="login-btn" role="button">Login</button>


          <a href="/signup">Sign up instead</a>
        </form>
      </div>

    </div>
</section>

<script src="/js/login.js"></script>