:root {
  --black: #4a4a4a;
  --green: #28be7a;
  --cyan: #27d3d0;
  --yellow: rgb(213, 213, 0);
  --darkYellow: rgb(161, 161, 0);
}


body{
  width: 100%;
  height: 100vh;
}
.columns{
  display: flex;
  flex-wrap: wrap;
}

.column{
  min-width: 45%;
}

.navigation a {
  margin: 60px;
}

.recipe-link {
  color: var(--black);
}

.recipe-link:hover {
  color: var(--green);
}

.media {
  display: flex;
  flex-direction: row;
}

.card-title {
  display: flex;
  justify-content: space-between;
}

.username {
  font-size: 15px;
  color: var(--black)
}

.favourite-btn, #add-ingredient, .delete-btn {
  font-size: 25px;
  color: white;
  background-image: linear-gradient(-180deg, var(--green), var(--cyan));
  border-radius: 20px;
  transition-duration: 1s;
  border: none;
}

.favourite-btn:hover, #add-ingredient:hover, .delete-btn:hover {
  background-image: linear-gradient(-180deg, var(--cyan), var(--green));
}

#add-ingredient {
  margin: 10px;
  padding: 5px;
}

.favourite-btn:visited {
  background-color: linear-gradient(-180deg, var(--yellow), var(--darkYellow));
}

.card-partial {
  display: contents;
}

.recipe-card {
  width: 75%;
  margin: auto;

}

.dash-title {
  display: flex;
  justify-content: center;
  color: var(--black);
}

.dash-heading {
  padding-top: 20px;
}

.dash-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 45%;
  justify-content: space-around;
}

.dash-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 80%;
}

.fav-dash, .recipe-dash {
  display: flex;
  border-radius: 3px;
  box-shadow: 5px 5px 3px var(--black);
  background-color: #4a4a4a20;
  margin: 5px;
  padding: 10px;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.fav-title, .user-recipe-title {
  font-size: 25px;
  color: var(--black);
}

.fav-title:hover, .user-recipe-title:hover {
  color: var(--cyan)
}

.login-btn, .signup-btn, .create-recipe-btn, .create-review-btn {
    background-color: initial;
    background-image: linear-gradient(-180deg, var(--green), var(--cyan));
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 98%;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
    margin: 15px;
  }
  
  .login-btn:hover, .signup-btn:hover, .create-recipe-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0 3px 8px;
  }


  #recipe-textarea {
resize: none;  
height: 300px;
}

.letter {
  display: inline-block;
  opacity: 1;
  font-size: 36px;
  text-align: left;
}

@media only screen and (max-width: 320px){
  .columns{
    grid-template-columns: repeat(1, 1fr);
  }
} 

@media only screen and (max-width: 780px){
  #dashboard-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dash-card {
    width: 90%
  }

  .cassie {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
