body{
  width: 100%;
  height: 100vh;
}
.columns{
  display: flex;
  flex-wrap: wrap;
}

.column{
  min-width: 45%;
}

.navigation a {
  margin: 60px;
}

.login-btn, .signup-btn, .create-recipe-btn {
    background-color: initial;
    background-image: linear-gradient(-180deg, #28be7a, #27d3d0);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 98%;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
    margin: 15px;
  }
  
  .login-btn:hover, .signup-btn:hover, .create-recipe-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0 3px 8px;
  }


  #recipe-textarea {
resize: none;  
height: 300px;
}

.letter {
  display: inline-block;
  opacity: 1;
  font-size: 36px;
  text-align: left;
}

 /* .columns {
  flex-direction: flex; 
  flex-wrap: wrap;
 display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto); 
}  */
/* 
 @media screen and (max-width: 660px){
  .columns{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
} */
@media screen and (max-width: 320px){
  .columns{
    grid-template-columns: repeat(1, 1fr);
  }
} 

/* @media screen and (min-width: 320px){
  .card{
    align-content: center;
  }
}  */

/* @media screen and (min-width: 769px){

  .column{
    max-width: 45%;
  }
}  */

/* @media screen and (min-width: 769px){
  .card{
    align-content: center;
  }
}  */

